.font-Option1 {
  font-size: 24px;
  font-weight: 700;
}
.font-Option2 {
  font-size: 16px;
  font-weight: 700;
}
.font-Option3 {
  font-size: 14px;
  font-weight: 500;
}
.font-heading-xl {
  font-weight: 700;
  font-size: 25px;
  color: #09446c;
}
.font-heading-lg {
  font-weight: 700;
  font-size: 20px;
}
