.home {
  background-color: #fffbf3;
  h2 {
    font-weight: 700;
    font-size: 25px;
    color: #09446c;
  }
  .heading {
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    background-image: linear-gradient(90deg, #09446c, #0d5d98 51.71%, #086bb5);
  }
  .info {
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.08);
    height: 100%;
    .text-top {
      font-size: 24px;
      font-weight: 700;
    }
    span {
      font-size: 16px;
      font-weight: 700;
    }
    p {
      margin: 0px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
